
    body {
        background-color: #1f2041; ; /* #000000Very dark background */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        overflow: hidden; /* Prevent scrollbars */
        color: #ffffff; /* Bright text color */
        font-family: Arial, sans-serif;
    }

    #gameContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #gameCanvas {
        border: none;
        box-shadow: none;
    }



    canvas {
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;
        display: block; /* Prevents any small margin around the canvas */
    }